/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 16px;
    letter-spacing: -0.5px;
    font-size: 13px;
    color: #313131;
    margin-left: 30%;
    margin-right: 30%;
    padding: 20px;
    background-color: #313131;
}
 
h1{
    font-size: 15px;
    color: #FFF9FE;
    margin-bottom: 1px;
    margin-top: 1px;
    font-weight: 900;
}
h2 {
    font-size: 10px;
    color: #FFF9FE;
    font-weight: 900;
}

h3 {
    font-size: 20px;
    color: #FFF9FE;
}

p {
    color: #FFF9FE;
}

.txt{
    font-size: 13px;
    text-align: leftr;
}

a {
    color: #FFF9FE;
    text-decoration:solid;
    text-decoration-thickness: 1px;
    text-decoration-color: #F638DC;
    
}

header {
    position: sticky;
    top: 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header .logo {
    border-radius: 5px;
    font-size: 15px;
    font-weight: 300;
    color: #FFF9FE;
}


/* Sections */
main {
    margin-top: 20px;
}

section {
    margin-bottom: 40px;
}


.studies .study,
.recent-publications .publication {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    border-radius: 5px;
}

.recent-publications {
    text-align: center; /* Center the content */
}

.about ul {
    background-color: #313131;
    margin-right: 1%;
    margin-left: 1%;
    color: #FFF9FE;
    display:flexbox;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.join {
    padding: 10px 20px;
    background-color: #525252;
    color: #FFF9FE;
    display:flexbox;
    border-radius: 5px;
    font-size: 13px;
    text-transform: uppercase;
}

.benefits-list {
    list-style-type: none;
    padding:10px;
    margin: 10px;
    gap: 10px;
}

.benefit-box {
    padding: 10px;
    border-radius: 5px;
    flex: 1 1 calc(33% - 10px);
    box-sizing: border-box;
    color: #FFFFFF;
    text-align: left;
}

.three-step-process {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.three-step-process .step {
    background-color: #525252;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    text-align: Left;
    flex: 1;
}

.three-step-process .arrow {
    font-size: 20px;
    color: #F638DC;
    margin: 0 10px;
}

.group{
    margin: 30px;
    font-size: 50px;
}

@media (max-width: 900px) {
    
.studies .study,
.recent-publications .publication  {
        display: flex;
        flex-direction: space;
    }

    body {
        font-family: Arial, sans-serif;
        line-height: 16px;
        letter-spacing: -0.5px;
        font-size: 13px;
        color: #313131;
        margin-left: 1%;
        margin-right: 1%;
        padding: 20px;
        background-color: #313131;
    }

    .benefits-list {
        list-style-type: none;
        padding-right: 10px;
        padding-left: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

}

